<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <div style="display: block;">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
               [dtTrigger]="dtTrigger">
          <thead>
          <tr>
            <th>Departamentos de Bs As</th>
            <th>Barrios</th>
            <th>Habitantes</th>
            <th>Puntos</th>
            <th>Puntos x Barrio</th>
            <th>Puntos x Habitantes</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dtData">
            <td>{{ data.nombre }}</td>
            <td>{{ data.barrios }}</td>
            <td>{{ data.habitantes }}</td>
            <td>{{ data.puntos }}</td>
            <td *ngIf="data.barrios > 0">{{ data.puntos / data.barrios | number: '1.0-4'}}</td>
            <td *ngIf="data.barrios == 0">0</td>
            <td *ngIf="data.habitantes > 0">{{ data.puntos  / data.habitantes | number: '1.0-4'}}</td>
            <td *ngIf="data.habitantes == 0">0</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
