<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{title}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
      <div style="display: block;">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
               [dtTrigger]="dtTrigger">
          <thead>
          <tr>
            <th>Provincia</th>
            <th>Barrios</th>
            <th>Habitantes</th>
            <th>Puntos</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prov of data">
            <td>{{ prov.nombre }}</td>
            <td>{{ prov.barriosProv }}</td>
            <td>{{ prov.habitantesProv }}</td>
            <td>{{ prov.puntosProv }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.card-body -->
</div>
