<section class="content">
  <div class="container-fluid">
    <app-totalizadores [data]="data"></app-totalizadores>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          <app-datos-por-zona></app-datos-por-zona>
        </div>
        <div class="col-md-12">
          <app-datos-bsas></app-datos-bsas>
        </div>
        <div class="col-md-6">
          <app-barrios-en-tiempo [data]="data"></app-barrios-en-tiempo>
        </div>
        <div class="col-md-6">
          <app-rango-de-edad [data]="data"></app-rango-de-edad>
        </div>
      </div>
    </div>
  </div>
</section>
